body {margin: 0;
      padding: 0;}


header{font-size: 10px;}

header{
			background: #fff;
		  display:block;
			position:fixed;
			padding: 6px;
			justify-content: space-between;
			width: 100%;
      z-index: 3;
			margin-top: 0px;}

span.hidari {padding-left: 0px;
   padding-top: 0px}

span.migi { float: right;
    padding-right: 20px;
		padding-top: 3px;
	  }



.parent1{position:relative;
         display: block;
         margin-top: 0px;
				 background-image:
			   url(../image/main.jpg);
         height:382px;
				 background-repeat: no-repeat;
				 background-size: cover;
				 background-position: 50% 50%;
         width: 500px;
         width: 100%;
				 }

@media screen and (max-width: 500px){
      .parent1{display: block;
               margin-top: 0px;
               background-image:
               url(../image/mainsp.jpg);
               height:260px;
               background-repeat: no-repeat;
               background-size: cover;
               background-position: 50% 50%;
               width: 500px;
               width: 100%;
               }}

.sample1{vertical-align:-30%;}

.sample2 {
width:170px;
font-weight:bold;
text-decoration:none;
display:block;
text-align:center;
padding:10px 0 10px;
color:#fff;
background-color:#FF99CC;
border-radius:25px;
}

.bunnsyo1{font-size: 18px;
          font-weight: 550;
          letter-spacing: 0.08em;
          line-height: 2.1em;
          text-align: center;
	        position: absolute;
					top: 140px;
					left: 50%;
					-ms-transform: translate(-50%,-50%);
					-webkit-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);}


.sample3{position: absolute;
	       width: 220px;
         top: 220px;
				 left: 50%;
				 -ms-transform: translate(-50%,-50%);
				 -webkit-transform: translate(-50%,-50%);
				 transform: translate(-50%,-50%);}

.bunnsyo3{position: absolute;
          line-height: 1.3em;
          text-align: center;
          font-size: 14px;
          font-weight: 550;
					top: 310px;
					left: 50%;
					-ms-transform: translate(-50%,-50%);
					-webkit-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);}

.parent2{display: block;
         position:relative;
			   background-color: #DAA520;
			   height:410px;}

.bunnsyo5{position: absolute;
          white-space: nowrap;
          font-size: 14px;
          text-align: center;
          font-weight: 550;
	        color: white;
	        top: 45px;
					left: 50%;
					transform: translate(-50%,-50%);
			    z-index: 3; }


.bunnsyo7{position: absolute;
          white-space: nowrap;
	        font-size: 13px;
          font-weight: 500;
					background-color: white;
		      color: #DC143C;
          padding: 0px;
	        top: 85px;
					left: 50%;
					transform: translate(-50%,-50%);
				  border-radius:5px;}

.sample4{position: absolute;
				 top: 150px;
				 left: 50%;
				 transform: translate(-50%,-50%);
         }

.bunnsyo8{white-space: nowrap;
          font-size: 20px;
          font-weight: 550;
					width:180px;
					text-decoration:none;
					text-align:center;
          left: 50%;
 				  transform: translate(-50%,-50%);
					padding:17px 185px 17px;
					color:#fff;
					background-color:#FA8072;
					border-radius:35px;
					}


.bunnsyo9{position: absolute;
          white-space: nowrap;
          font-size: 14px;
          text-align: center;
          font-weight: 550;
          line-height: 2.9em;
          letter-spacing: 0.08em;
	        color: white;
	        top: 300px;
					left: 50%;
					transform: translate(-50%,-50%);
			    z-index: 3; }


.parent3{display: block;
         line-height: 1.9em;
         letter-spacing: 0.08em;
         font-size: 14px;
	       position:relative;
				 background-image:
			   url(../image/introbottom.jpg);
         height:382px;
				 background-repeat: no-repeat;
				 background-size: cover;
				 background-position: 50% 50%;
				 width: 100%;}

.bunnsyo12{white-space: nowrap;
           text-align: center;
           position: absolute;
           font-size: 18px;
           font-weight: 550;
  		     color: black;
  	       top: 60px;
  				 left: 50%;
  				 transform: translate(-50%,-50%);}

 .bunnsyo12 {
   position: absolute;
   width: 560px;
   padding: 20px 30px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }

 .bunnsyo12::before,
 .bunnsyo12::after {
   position: absolute;
   content: '';
   width: 35px;
   height: 35px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 .bunnsyo12::before {
   top: 0;
   left: 0;
   border-top: 1.5px solid #DAA520;
   border-left: 1.5px solid #DAA520;
 }
 .bunnsyo12::after {
   bottom: 0;
   right: 0;
   border-bottom: 1.5px solid #DAA520;
   border-right: 1.5px solid #DAA520;
 }



.bunnsyo13{white-space: nowrap;
           text-align: center;
           font-size: 13px;
           line-height: 1.6em;

            position: absolute;
  		      color: black;
  	        top: 130px;
  					left: 50%;
  					transform: translate(-50%,-50%);}


.bunnsyo15{white-space: nowrap;
           text-align: center;
           font-size: 13px;
           line-height: 1.6em;
           position: absolute;
		       color: black;
	         top: 210px;
					 left: 50%;
					 transform: translate(-50%,-50%);}

.bunnsyo18{white-space: nowrap;
           text-align: center;
           font-size: 13px;
           line-height: 1.6em;
           position: absolute;
 		       color: black;
 	         top: 280px;
 					 left: 50%;
 					 transform: translate(-50%,-50%);}

.bunnsyo19{font-weight: 550;
           background:linear-gradient(transparent 70%, #DAA520 0%);}

.bunnsyo20{ font-size: 10px;
            color: white;
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #DAA520;
            text-align:center;
            line-height: 60px;
            top: 380px;
 					  left: 50%;
 					  transform: translate(-50%,-50%);
            z-index: 3; }

.parent4{display: block;
         position:relative;
			   background-color: #FFFFDD;
			   height:430px;
       　z-index: 1;　}

.bunnsyo21 {display: block;
            white-space: nowrap;
            letter-spacing: 0.08em;
            text-align: center;
            position: absolute;
            font-size: 18px;
            font-weight: 550;
   		      color: black;
   	        top: 90px;
   				  left: 50%;
   				  transform: translate(-50%,-50%);}


.bunnsyo21 {
 position: absolute;
 width: 560px;
 padding: 20px 30px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.bunnsyo21::before,
.bunnsyo21::after {
 position: absolute;
 content: '';
 width: 35px;
 height: 35px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
.bunnsyo21::before {
 top: 0;
 left: 0;
 border-top: 1.5px solid #DAA520;
 border-left: 1.5px solid #DAA520;
}
.bunnsyo21::after {
 bottom: 0;
 right: 0;
 border-bottom: 1.5px solid #DAA520;
 border-right: 1.5px solid #DAA520;
}




.bunnsyo22{display: block;
           white-space: nowrap;
           letter-spacing: 0.08em;
           position: absolute;
           font-size: 15px;
           font-weight: 550;
           text-align:center;
		       color: black;
	         top: 170px;
					 left: 50%;
					 transform: translate(-50%,-50%);}


.bunnsyo23{display: block;
          white-space: nowrap;
          letter-spacing: 0.08em;
          position: absolute;
          font-size: 15px;
          font-weight: 550;
          text-align:center;
		      color: black;
	        top: 25px;
          left:230px;
          z-index: 3;　

					transform: translate(-50%,-50%);}






.parent100 {position:absolute;
           top: 100px;
           left: 50%;
           transform: translate(-50%,-50%);
           white-space: nowrap;}

.sample6,.sample7,.sample8,
.sample9,.sample10{width: 50px;
          letter-spacing: 0.5em;
          padding: 20px;
          vertical-align:middle;
          z-index: 3;}

.sample10{width: 80px;
          letter-spacing: 0.5em;
          padding: 20px;}

.sample8 {width: 40px;
          letter-spacing: 0.5em;
          padding: 20px;}

.parent101 {text-align: center;
           top: 330px;
           position:absolute;
           left: 49.5%;
           z-index: 3;
           transform: translate(-50%,-50%);}

.bunnsyo24{display: inline-block;
           text-align: center;
           white-space: normal;
           width:91px;
           height:400px;
           vertical-align: top;
           line-height: 180%;
           letter-spacing: 0.1em;
           font-size: 6px;
           line-height: 1.9em;}

.sample100{white-space: nowrap;}

.parent5{position:absolute;
         background-color: white;
         border: solid 1.5px #DAA520;
         width:800px;
         height: 180px;
         z-index: 0;
         top: 300px;
         left: 50%;
         transform: translate(-50%,-50%);}

.parent6{display: block;
         line-height: 1.9em;
         letter-spacing: 0.08em;
         font-size: 14px;
	       position:relative;
				 background-image:
			   url(../image/aboutsecondbg.jpg);
         height:280px;
				 background-repeat: no-repeat;
				 background-size: cover;
				 background-position: 50% 50%;
				 width: 100%;}


.bunnsyo25{left: 50%;
           white-space:nowrap;
           transform: translate(-50%,-50%);
           position: absolute;
           display: block;
           top: 50px;
           color: white;
           font-weight: 550;
           font-size: 20px;
           text-align: center;
           }

.bunnsyo26{top: 100px;
           position: absolute;
           color: white;
           left: 50%;
           white-space:nowrap;
           transform: translate(-50%,-50%);
           font-weight: 550;
           text-align: center;}

.bunnsyo27{color: #DAA520;}


.parent106{position: absolute;
           left:50%;
           transform: translate(-50%,-50%);
           white-space:nowrap;
           top: 200px;}


.parent105{display: inline-block;
           width: 240px;
           height:115px;
           text-align: center;
           background-color: white;
           margin: 5px;
           border-radius:7px;
           font-size: 10px;
           font-weight: 550;}



.bunnsyo28{width: 100px;
           padding-top: -2px;
           color: white;
           margin-left: 70px;
           margin-top: 10px;
           background-color: #DAA520;}

.parent7{display: block;
         position:relative;
			   background-color: #3333CC;
			   height:100px;
         color: white;
         }

.bunnsyo30 {white-space: nowrap;
            font-weight: 550;
            position:absolute;
            text-align:center;
            top:50px;
            left: 50%;
  					transform: translate(-50%,-50%);}


.bunnsyo31 {color: #DAA520;}


.parent10 {display: block;
           position:relative;
			     background-color: white;
			     height:350px;}

.parent11 {position:absolute;
           top: 200px;
           left: 50%;
           transform: translate(-50%,-50%);
           white-space: nowrap;}

.sample11,.sample12,
.sample13,.sample14{ width: 120px;
                     letter-spacing: 0.5em;
                     padding: 12px;}


.bunnsyo32{position:absolute;
           font-size: 18px;
           font-weight: 550;
           left: 50%;
           top: 60px;
           transform: translate(-50%,-50%);
           white-space: nowrap;}

.bunnsyo33{font-size: 11px;}

.bunnsyo34{position:absolute;
           font-size: 14px;
           left: 50%;
           top: 105px;
           transform: translate(-50%,-50%);
           white-space: nowrap;}

.bunnsyo35{position:absolute;
           font-size: 14px;
           font-weight: 550;
           left: 50%;
           top: 290px;
           transform: translate(-50%,-50%);
           white-space: nowrap;}

.parent12{display: block;
          position:relative;
			    background-color: #FFFFDD;
			    height:730px;}



.bunnsyo36 {
 letter-spacing: 0.08em;
 line-height: 1.9em;
 font-size: 14px;
 font-weight: 550;
 position: absolute;
 top: 70px;
 text-align: center;
 width: 560px;
 padding: 20px 30px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 left: 50%;
 transform: translate(-50%,-50%);
 white-space: nowrap;}

.bunnsyo36::before,
.bunnsyo36::after {
 position: absolute;
 content: '';
 width: 35px;
 height: 35px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
.bunnsyo36::before {
 top: 0;
 left: 0;
 border-top: 1.5px solid #DAA520;
 border-left: 1.5px solid #DAA520;
}
.bunnsyo36::after {
 bottom: 0;
 right: 0;
 border-bottom: 1.5px solid #DAA520;
 border-right: 1.5px solid #DAA520;
}

.bunnsyo37{font-size: 18px;}


.parent13 {position:absolute;
           top: 200px;
           left: 50%;
           transform: translate(-50%,-50%);
           white-space: nowrap;}

.sample15,.sample16,
.sample17{ width: 250px;
           height: 130px;
           object-fit: cover;
           letter-spacing: 0.5em;
           padding: 8px;}


.parent14 {text-align: center;
           top: 350px;
           position:absolute;
           left: 50%;
           white-space: nowrap;
           transform: translate(-50%,-50%);}

.bunnsyo41{ display: inline-block;
            text-align: left;
            white-space: normal;
            width:220px;
            height:400px;
            margin:270px 20px 20px 20px;
            padding:10px;
            vertical-align: top;
            line-height: 180%;
            letter-spacing: 0.1em;
            font-size: 10px;
            line-height: 1.9em;}

.bunnsyo42{color: #DAA520;
           font-weight: 550;
           letter-spacing: 0.05em;
           font-size: 15px;
           padding-bottom: 5px;
           }

.sample20{position:absolute;
          background-color: white;
          border: solid 1.5px #DAA520;
          width:800px;
          height: 180px;
          z-index: 3;
          top: 530px;
          left: 50%;
          transform: translate(-50%,-50%);}

.bunnsyo43{text-align: center;
           top: 590px;
           padding-top: 35px;
           font-size: 10px;
           font-weight: 550;
           line-height: 1.8em;
           letter-spacing: 0.08em;}


.bunnsyo44{
           color: #DAA520;
           font-weight: 550;
           font-size: 20px;}

.bunnsyo45{line-height: 2.8em;
          font-weight: 550;
          font-size: 13px;
          padding-top: 30px;}

.bunnsyo46{text-align: center;
           white-space: nowrap;
           position: absolute;
           display: block;
           top: 670px;
           font-size: 10px;
           left: 50%;
           transform: translate(-50%,-50%);}

.parent15{display: block;
	        position:relative;
			 	  background-image:
			    url(../image/teacherbg.jpg);
          height:920px;
		 		  background-repeat: no-repeat;
				  background-size:cover;
				  background-position: 50% 50%;
				  width: 100%;}


.bunnsyo47{position: absolute;
           font-size: 20px;
           color: white;
           font-weight: 550;
           top:80px;
           left:50%;
           transform: translate(-50%,-50%);}

.bunnsyo48{position: absolute;
           font-size: 10px;
           font-weight: 550;
           color: white;
           top:120px;
           left:50%;
           white-space: nowrap;
           transform: translate(-50%,-50%);}

.parent16{position:absolute;
           top: 200px;
           left: 50%;
           transform: translate(-50%,-50%);
           white-space: nowrap;}

.sample30,
.sample31{padding: 65px;
          width: 130px;
          border-radius: 50%;}

.parent17{position:absolute;
          top: 600px;
          left: 50%;
          transform: translate(-50%,-50%);
          white-space: nowrap;}

.sample32,
.sample33{padding: 65px;
          width: 130px;
          border-radius: 50%;}

.parent18,.parent20{display: block;
          text-align: center;}



.parent19{border: solid 3px white;
          display: inline-block;
          margin: 230px 5px 15px 5px;
          width: 250px;
          height: 270px;
          color: white;
          font-size: 10px;
          vertical-align: top;}

.parent21{border: solid 3px white;
          display: inline-block;
          margin: 110px 5px 15px 5px;
          width: 250px;
          height: 270px;
          color: white;
          font-size: 10px;
          vertical-align: top;}

.bunnsyo50{margin-top: 35px;}

.bunnsyo51{margin-top: 10px;}

.bunnsyo52{left: 50%;
           text-align: center;
           letter-spacing: 0.2em;
           margin: 10px 10px 0px 10px;
           line-height: 1.6em;}

.bunnsyo53{text-align: left;
           display: inline-block;
           margin: 0;}

.parent24 {
 position: relative;
 display: block;
 width: 100%;
 height: 200px;
 color: #555;
 font-size: 16px;
 background: #DAA520;
 z-index: 3;}

.parent24:before {
 content: "";
 position: absolute;
 top: 100%;
 left: 50%;
 margin-left: -15px;
 border: 15px solid transparent;
 border-top: 15px solid #DAA520;
 z-index: 3;}


.bunnsyo54{ font-size: 10px;
            color: #DAA520;
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: white;
            text-align:center;
            line-height: 50px;
            top: 60px;
 					  left: 50%;
 					  transform: translate(-50%,-50%);
            z-index: 3; }


            .bunnsyo55 {
             color: white;
             letter-spacing: 0.08em;
             line-height: 1.5em;
             font-size: 18px;
             font-weight: 550;
             position: absolute;
             top: 140px;
             text-align: center;
             width: 560px;
             padding: 20px 30px;
             -webkit-box-sizing: border-box;
             box-sizing: border-box;
             left: 50%;
             transform: translate(-50%,-50%);
             white-space: nowrap;}

            .bunnsyo55::before,
            .bunnsyo55::after {
             position: absolute;
             content: '';
             width: 35px;
             height: 35px;
             -webkit-box-sizing: border-box;
             box-sizing: border-box;
            }
            .bunnsyo55::before {
             top: 0;
             left: 0;
             border-top: 1.5px solid white;
             border-left: 1.5px solid white;
            }
            .bunnsyo55::after {
             bottom: 0;
             right: 0;
             border-bottom: 1.5px solid white;
             border-right: 1.5px solid white;
            }


.parent25{background-color: white;
          z-index: 0
;          width: 100%;
          height: 830px;
          position: relative;
          display: block;}


.bunnsyo56{left:50%;
           transform: translate(-50%,-50%);
           position: absolute;
           top: 40px;
           font-size: 15px;
           font-weight: 550;}

.bunnsyo57{ top: 70px;
          font-size: 10px;
          font-weight: 550;
          left:50%;
          transform: translate(-50%,-50%);
          position: absolute;}

.bunnsyo58{left:50%;
           transform: translate(-50%,-50%);
           position: absolute;
            top: 110px;
           font-size: 9px;
           white-space: nowrap;}


.parent26{
          width: 520px;
          height: 200px;
          margin: 20px;
          display: block;}

.parent27{position: absolute;
          top:470px;
          left: 50%;
          transform: translate(-50%,-50%);}

.sample34{float:left;
          border: solid 1.5px #DAA520;
          width: 170px;
          margin:10px 20px 10px 0px;}

.bunnsyo60{font-size: 12px;
           line-height: 1.7em;
           color: #808080;
           margin: 20px 0px 0px 0px;
           padding-top: 15px;
            letter-spacing: 0.07em;}

.bunnsyo61{font-size: 10px;
           color: #808080;
           margin: 10px 0px 0px 0px;
           text-decoration: underline;}

.parent28{display: block;
	        position:relative;
			 	  background-image:
			    url(../image/classbg.jpg);
          width: 100%;
          background-size:cover;
				  background-position: 50% 50%;
          height: 600px;
          background-repeat: no-repeat;}

.bunnsyo62{color:white;
           position:absolute;
           top:50px;
           font-size: 18px;
           transform: translate(-50%,-50%);
           font-weight: 550;
           left:50%;}

.bunnsyo63{color:white;
          position:absolute;
          top:80px;
          font-size: 10px;
          transform: translate(-50%,-50%);
          font-weight: 550;
          left:50%;}

          table {

            border: 1px solid #ccc;
            border-collapse: separate;
            border-radius: 5px;
            border-spacing: 0;
          }
          table th, table td {
            border-bottom: 1px solid #ccc;
            padding: 10px 20px;
          }
          table th {
            border-right: 1px solid #ccc;
            background: #EEE;}


table tr:first-child th {
  border-radius: 5px 0 0 0;
}
table tr:first-child td {
  border-radius: 0 5px 0 0;
}
table tr:last-child th {
  border-bottom: none;
  border-radius: 0 0 0 5px;
}
table tr:last-child td {
  border-bottom: none;
  border-radius: 0 0 5px 0;
}

table{
      border: 2px solid #006699;}

.parent29{background-color: #333399;
          width: 100%;
          height: 100px;
          display: block;
          position: relative;}

.bunnsyo70{transform: translate(-50%,-50%);
           left:50%;
           top: 50%;
           font-size: 12px;
           font-weight: 550;
           white-space: nowrap;
           text-align: center;
           position: absolute;
           color:white;}

.parent30{background-color: white;
          width: 100%;
          height: 1500px;
          display: block;
          position: relative;}

.bunnsyo71{transform: translate(-50%,-50%);
           left:50%;
           top: 50px;
           font-size: 16px;
           font-weight: 550;
           white-space: nowrap;
           text-align: center;
           position: absolute;
           }

.sample35{width: 700px;
          top:170px;
          position: absolute;
          transform: translate(-50%,-50%);
          left:50%;}

.parent31{display: block;
          width: 750px;
          height: 150px;
          margin: 0px 32px 0px 32px;
          border: solid 1px white;
          background-color: #FFFFAA}


.parent32{position: absolute;
          top:700px;
          transform: translate(-50%,-50%);
          left:50%;
          }


.parent33{float: left;
          top:50%;
          margin: 25px 0px 10px 10px;
          width: 150px;
          }

.sample36{width:65px;
          margin-left: 43px;}

.bunnsyo77{float: bottom;
           font-size: 11.5px;
           line-height: 2.0em;
           font-weight: 550;
           text-align: center;
         margin-bottom: 30px;}


.bunnsyo75{font-size: 11px;
           line-height: 2.8em;
           font-weight: 550;
           margin-top: 20px;}

.bunnsyo76{font-size: 10.5px;
           margin-top: 10px;}



.bunnsyo78{font-size: 11px;
           line-height: 2.8em;
           font-weight: 550;
           margin-top: 12px;}

.bunnsyo79{font-size: 10.5px;
           margin-top: 10px;}

.bunnsyo80{font-size: 11px;
           line-height: 1.5em;
           font-weight: 550;
           margin-top: 10px;}

.bunnsyo81{font-size: 11px;
           line-height: 1.5em;
           font-weight: 550;
           margin-top: 20px;}

.bunnsyo82{font-size: 11px;
           line-height: 1.5em;
           font-weight: 550;
           margin-top: 20px;}

.bunnsyo83{font-size: 11px;
           line-height: 1.5em;
           font-weight: 550;
           margin-top: 20px;}

.bunnsyo84{font-size: 11px;
           line-height: 1.5em;
           font-weight: 550;
           margin-top: 20px;}

.bunnsyo85{font-size: 10.5px;
           margin-top: 10px;}

.bunnsyo86{font-size: 11px;
           line-height: 2.5em;
           font-weight: 550;
           margin-top: 20px;}






.sample37{
          display: block;
          height: 34px;
          margin: 0px 0px 0px 0px;}


.parent45{display: block;
          position: relative;
          background-image:
          url(../image/bangkokbg.jpg);
          width: 100%;
          background-size:cover;
          background-position: 50% 50%;
          height: 320px;
          background-repeat: no-repeat;}

.bunnsyo90{position: absolute;
           font-size: 17px;
           color: white;
           font-weight: 550;
           margin-left: 80px;
           margin-top: 80px;}

.bunnsyo91{position: absolute;
           font-size: 11px;
           color: white;
           margin-left: 80px;
           margin-top: 120px;}

.bunnsyo92{position: absolute;
           color: white;
           font-weight: 550;
           font-size: 11px;
           margin-left: 80px;
           margin-top: 170px;}

.bunnsyo93{position: absolute;
           color: white;
           font-size: 15px;
           margin-left: 80px;
           margin-top: 250px;}

.parent47{background-color: #DAA520;
          width: 100%;
          height: 440px;
          display: block;
          position: relative;}

.bunnsyo95{font-size: 19px;
           font-weight: 550;
           top:50px;
           left: 50%;
           position: absolute;
           transform: translate(-50%,-50%);}

.bunnsyo96{font-size: 11px;
           font-weight: 550;
           position: absolute;
           white-space: nowrap;
           top: 100px;
           left: 50%;
           transform: translate(-50%,-50%);}

.bunnsyo97{color: white;}

.bunnsyo98{font-size: 19px;
           text-align: center;
           font-weight: 550;
           left: 50%;
           top: 185px;
           background-color: #DAA520;
           z-index: 1;
           position: absolute;
           transform: translate(-50%,-50%);}

.parent48{position: absolute;
          text-align: center;
          top: 300px;
    transform: translate(-50%,-50%);      width: 770px;
          height: 230px;
          border: solid 1px white;
          left: 50%;
          transform: translate(-50%,-50%);}

.bunnsyo200{
            display: inline-block;
            font-size: 10px;
            vertical-align: top;
            line-height: 1.7em;
            font-weight: 550;
            margin: 40px 40px 40px 40px;}

.bunnsyo201{font-size: 15px;
            color: #DAA520;}


.bunnsyo200 {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: white;
}

.bunnsyo201 {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 20%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width :170px;
  text-align:center;
}

.bunnsyo202 {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width :170px;
  text-align:center;
}


.parent50{display: block;
          position: relative;
          background-image:
          url(../image/specialdetail.jpg);
          width: 100%;
          background-size:cover;
          background-position: 50% 50%;
          height: 350px;
          color: white;
          font-weight: 550;
          text-align: center;
          background-repeat: no-repeat;}


.bunnsyo205{position: absolute;
            font-size: 20px;
            left:50%;
            top:50px;
            transform: translate(-50%,-50%);}

.bunnsyo206{position: absolute;
            font-size: 13px;
            left:50%;
            top:120px;
            transform: translate(-50%,-50%);}

.bunnsyo207{position: absolute;
            left:50%;
            padding: 20px 30px;
            font-size: 20px;
            top:200px;
            transform: translate(-50%,-50%);}

.bunnsyo208{position: absolute;
            left:50%;
            font-size: 13px;
            top:280px;
            transform: translate(-50%,-50%);}



.bunnsyo207::before,
.bunnsyo207::after {
 position: absolute;
 content: '';
 width: 20px;
 height: 20px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}
.bunnsyo207::before {
 top: 0px;
 left: 0px;
 border-top: 1.5px solid white;
 border-left: 1.5px solid white;
}
.bunnsyo207::after {
 bottom: 0px;
 right: 0px;
 border-bottom: 1.5px solid white;
 border-right: 1.5px solid white;
}


.parent51{position: relative;
          background-color: white;
          height: 380px;
          display: block;}


.bunnsyo210{position: absolute;
            font-size: 13px;
            text-align: center;
            left:50%;
            font-size: 18px;
            font-weight: 550;
            z-index: 1;
            color: black;
            top:50px;
            transform: translate(-50%,-50%);}

.bunnsyo211{position: absolute;
            font-size: 13px;
            font-weight: 550;
            text-align: center;
            left:50%;
            z-index: 1;
            top:90px;
            transform: translate(-50%,-50%);}



.parent52{position: absolute;
          transform: translate(-50%,-50%);
          left:50%;
          top:240px;
          width:600px;
          height: 250px;
          border: solid 1px black;}



.sample40{width: 120px;
          float: left;
          margin-right: 20px;
          margin-bottom: 170px;}

.parent55{width: 550px;
          line-height: 1.7em;
          font-size: 10px;
          text-align: left;
          letter-spacing: 0.08em;}


.bunnsyo214{margin-top: 8px;}


.bunnsyo215{margin-top: 12px;}

.bunnsyo216{margin-top: 12px;}

.bunnsyo217{margin-top: 8px;}
